[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests-mock = "==1.7.0"
pytest = "==5.3.1"

[packages]
requests = "==2.22.0"
flask = "==1.1.1"
waitress = "==1.4.2"
jsonschema = "*"

[requires]
python_version = "3.7"
